{% extends 'layout/base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}

    {% for message in app.flashes('item_deleted') %}
        <div class="alert alert-light">
            {{ message }} <a href="{{ path('catalogue') }}"><span class="close_x">&#10005;</span></a>
        </div>
    {% endfor %}

    {% if app.user %}

        <div class="tri text-right mr-50">
            <b>Trier par catégorie : &nbsp;</b>
            <div class="btn btn-success btn-sm btn-all capitalize">Tout</div> &nbsp; <b>/</b> &nbsp;
            <div class="btn btn-light btn-sm btn-rock">Rock</div>
            <div class="btn btn-light btn-sm btn-pop">Pop</div>
            <div class="btn btn-light btn-sm btn-metal">Metal</div>
            <div class="btn btn-light btn-sm btn-grunge">Grunge</div>
        </div><br>
        
        {% for article in articles %}

            <section class="articles Pop">
                {% if article.category.description == "Pop" %}
                    <article class="catalog_list">
                        <div class="content">
                            <a href="{{ path('blog_show', {'slug': article.slug}) }}" title="{{ article.artist }} - {{ article.title }}"><img src="{{ article.image }}" alt="">   
                            <div class="overlay">
                                <div class="text">{{ article.artist }} - {{ article.title }}</div>
                            </div></a>
                        </div>
                    </article>
                {% else %}
                    <article></article>
                {% endif %}
            </section>

            <section class="articles Rock">
                {% if article.category.description == "Rock" %}
                    <article class="catalog_list">
                        <div class="content">
                            <a href="{{ path('blog_show', {'slug': article.slug}) }}" title="{{ article.artist }} - {{ article.title }}"><img src="{{ article.image }}" alt="">   
                            <div class="overlay">
                                <div class="text">{{ article.artist }} - {{ article.title }}</div>
                            </div></a>
                        </div>
                    </article>
                {% else %}
                    <article></article>
                {% endif %}
            </section>

            <section class="articles Metal">
                {% if article.category.description == "Metal" %}
                    <article class="catalog_list">
                        <div class="content">
                            <a href="{{ path('blog_show', {'slug': article.slug}) }}" title="{{ article.artist }} - {{ article.title }}"><img src="{{ article.image }}" alt="">   
                            <div class="overlay">
                                <div class="text">{{ article.artist }} - {{ article.title }}</div>
                            </div></a>
                        </div>
                    </article>
                {% else %}
                    <article></article>
                {% endif %}
            </section>

            <section class="articles Grunge">
                {% if article.category.description == "Grunge" %}
                    <article class="catalog_list">
                        <div class="content">
                            <a href="{{ path('blog_show', {'slug': article.slug}) }}" title="{{ article.artist }} - {{ article.title }}"><img src="{{ article.image }}" alt="">   
                            <div class="overlay">
                                <div class="text">{{ article.artist }} - {{ article.title }}</div>
                            </div></a>
                        </div>
                    </article>
                {% else %}
                    <article></article>
                {% endif %}
            </section>

        {% endfor %}

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">
<!--                <p>© 2019-20 ALT Records</p> -->
            </div>
        </footer>

    {% else %}
        <p>Vous n'avez pas accès à cette page</p>
        <a href="{{ path('home') }}" class="btn btn-light">&#8617; Retour</a>
    {% endif %}

    {# Boutons d'action gérés dans le script action.js #}

    {% block javascripts %}
        <script src="{{ asset('assets/js/action.js') }}"></script>
    {% endblock %}

{% endblock %}