{% extends 'layout/base.html.twig' %}

{% block body %}

    {% for message in app.flashes('logged') %}
        {% if loop.first %}
            <div class="alert alert-light mb-m75">
                {{ message }} <a href="{{ path('home') }}" class="close_x">&#10005;</a>
            </div>
        {% endif %}
    {% endfor %}

    <section class="home text-center mt-8">
        
        <p class="home-title"><b>&#9886; ALT RECORDS &#9887;</b></p>

        {% if app.user %}
            <h3>Bienvenue, <span class="text-success capitalize">{{ app.user.username }}</span> !</h3>

            <div class="description">
                <p style="font-size:16px;"><b>ALT RECORDS</b> est un catalogue de musiques alternatives, créé avec le framework <b>Symfony 4</b>.</p>
                <a href="{{ path('catalogue') }}" class="btn btn-success">Voir le catalogue</a><br>
                <br><hr>       
                <h4>&#8886; Version : 1.0.3 &nbsp; &nbsp; &nbsp; &#8892; Statut : 
                    {% if app.user.role == "ROLE_ADMIN" %}
                        [ vous êtes <a href="{{ path('my_account') }}" class="badge badge-secondary">admin</a> ]
                    {% elseif app.user.role == "ROLE_USER"%}
                        [ vous êtes <a href="{{ path('my_account') }}" class="badge badge-secondary">user</a> ]
                    {% endif %}
                    &nbsp; &nbsp; &nbsp; &#8795; /PWD 2019-20
                </h4>
            </div>

        {% else %}
            <h3>Bienvenue, visiteur !</h3>

            <div class="description">
                <p style="font-size:16px;"><b>ALT RECORDS</b> est un catalogue de musiques alternatives, créé avec le framework <b>Symfony 4</b>.</p>
                <a href="{{ path('about') }}" class="btn btn-light">Comment ça marche ?</a> &nbsp; <a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a><br>
                <br><hr>
                <h4>&#8886; Version : 1.0.3 &nbsp; &nbsp; &nbsp; &#8892; Statut : [ vous êtes <span class="badge badge-secondary">anonyme</span> ] &nbsp; &nbsp; &nbsp; &#8795; /PWD 2019-20</h4>
            </div>
        {% endif %}

    </section>   

{% endblock %}