{% extends 'layout/base.html.twig' %}

{% block body %} 

        {% if not app.user %}

            <p>Vous n'avez pas accès à cette page</p>
            <a href="{{ path('home') }}" class="btn btn-light">Retour</a>

        {% elseif app.user %}

            <div class="mt-10 userlist">
                <h1>Mes commentaires</h1><br>     
                <table class="table table-hover users">
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Auteur</th>
                            <th>Contenu</th>
                            <th>Date</th>
                            <th>Article source</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments | sort %}
                            {% if comment.author == app.user.username %}
                                <tr class="table-active">
                                    <td>{{ comment.id }}</td>
                                    <td>{{ comment.author }}</td>
                                    <td>{{ comment.content }}</td>
                                    <td>{{ comment.createdAt | date ('d/m/Y à H:i') }}</td>
                                    <td>{{ comment.article.id }}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-sm" title="VOIR"><big>&#x1F441;</big></a> &nbsp; 
                                        <a href="#" class="btn btn-danger btn-sm" title="SUPPRIMER"><big>&nbsp;&#x1F5D1;</big></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr></tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table> 
            </div>

            <a href="{{ path('my_account') }}" class="btn btn-light btn-sm ml-20">&#8617; Revenir à mon compte</a>

        {% else %}

            <p>Vous n'avez pas accès à cette page</p>
            <a href="{{ path('home') }}" class="btn btn-light">&#8617; Retour</a>
                
        {% endif %}

{% endblock %}