{% extends 'layout/base.html.twig' %}

{% block body %} 

    {% for message in app.flashes('post') %}
        <div class="alert alert-light">
            {{ message }} <a href="{{ path('blog_show', { 'slug': article.slug}) }}"><span class="close_x">&#10005;</span></a>
        </div>
    {% endfor %}

    {% for message in app.flashes('repost') %}
        <div class="alert alert-light">
            {{ message }} <a href="{{ path('blog_show', { 'slug': article.slug}) }}"><span class="close_x">&#10005;</span></a>
        </div>
    {% endfor %}

    {% for message in app.flashes('comment') %}
        <div class="alert alert-light">
            {{ message }} <a href="{{ path('blog_show', { 'slug': article.slug}) }}"><span class="close_x">&#10005;</span></a>
        </div>
    {% endfor %}

    <section id="articles">

        <article class="item">
            
            <div class="metadata mb-20 ml-20 mg-10 mr-20">
                Catalogue / Item / <span class="text-success">{{ article.id }}</span>
                <hr>
            </div>
<!--
            <h1 class="ml-20 text-success" style="font-size:170px;">{{ article.artist}}</h1>
            <h1 class="ml-20" style="font-size:170px;">{{ article.title}}</h1>
            <br>
            <hr>
            <br>
-->
            <div class="content">
                <img class="float-l ml-20" src="{{ article.image }}" alt="">

                <div class="item-data float-l">

                    <table id="item-data-table">
                        <tr>
                            <td class="lightgrey">Artiste</td>
                            <td><b class="capitalize">{{ article.artist }}</b></td>
                        </tr>
                        <tr>
                            <td class="lightgrey">Titre</td>
                            <td><b class="capitalize">{{ article.title }}</b></td>
                        </tr>
                        <tr>
                            <td class="lightgrey">Catégorie</td>
                            <td><b class="capitalize">{{ article.category.description }}</b></td>
                        </tr>
                        <tr>
                            <td class="lightgrey">Album</td>
                            <td><b class="capitalize">{{ article.album }}</b></td>
                        </tr>
                        <tr>
                            <td class="lightgrey">Année de sortie</td>
                            <td><b class="capitalize">{{ article.year }}</b></td>
                        </tr>
                        <tr>
                            <td class="lightgrey">Label</td>
                            <td><b class="capitalize">{{ article.credits }}</b></td>
                        </tr>
                        <tr>
                            <td><hr></td>
                            <td><hr></td>
                        </tr>
                    </table>

                    <div class="ml-50 mg-10 grey item-info">
                        <!-- <h4 class="lightgrey">Description</h4> -->
                        <!-- <p class="capitalize">{{ article.content | raw }}</p> -->
                        <p>Ajouté au catalogue le <b>{{ article.createdAt | date('d/m/Y') }}</b> par <b>{{ article.author }}</b><br>Modifié le <b>{{ article.modifiedAt | date('d/m/Y') }}</b> par <b>{{ article.author }}</b></p>              
                    </div>

                {% if app.user.role == "ROLE_ADMIN" %}
                    <div class="item-buttons ml-50 mg-30">
                        <a href="{{ path('catalogue') }}" class="btn btn-light">&#8617; Retour au catalogue</a> &nbsp; 
                        <a href="{{ path('blog_edit', { 'id': article.id }) }}" class="btn btn-primary">Modifier</a> &nbsp; 
                        <div class="btn btn-danger del_btn">Supprimer</div>
                    </div>
                {% else %}

                    <a href="{{ path('catalogue') }}" class="btn btn-light ml-50 mg-20">Retour au catalogue</a>

                {% endif %}

                </div>
                
                <div id="vplayer"></div>

            </div>
        </article>

        <div class="delete-window">
            <div class="mt-15 text-center window-info">
                <h4>Voulez-vous vraiment supprimer cet élément ?</h4>
                <p>Cette action est irréversible</p>
                <div class="btn btn-light cancel">Annuler</div> &nbsp; <a href="{{ path('item_delete', { 'id': article.id }) }}" class="btn btn-danger">Confirmer</a>
            </div>
        </div>

    </section>

    <section id="commentaires">
        <hr class="ml-20 mr-20">
        <h1 class="ml-20 mb-20">{{ article.comments | length }} commentaire(s) : </h1>
        
        {% for comment in article.comments %}
            <div class="comment ml-20 mr-20">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>Posté le {{ comment.createdAt | date ('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <hr>

        {% if app.user %}

            {% set user_now = app.user.username %}

            <div class="ml-20">

                <b><a href="{{ path('security_logout') }}">Vous êtes connecté en tant que <span class="capitalize">{{ user_now }}</span>. Ce n'est pas vous ?</a></b>

                {{ form_start(commentForm) }}
                {{ form_widget(commentForm.author, {value : user_now, 'type': 'hidden'}) }}
                {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

                <button type="submit" class="btn btn-success">Commenter</button>
                {{ form_end(commentForm) }}

        {% else %}
                <h4>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h4>
                <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}

            </div>
    
    </section>

    {% block javascripts %}

        {# ----- SCRIPT Player Video ----- #}

        <script>
            // This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
            tag.src = "http://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('vplayer', {
                    videoId: '{{ article.video }}',
                    playerVars: { 'showinfo': 0 , 'autohide':1 , 'color':'white' , 'rel':0},
                });
            }
        </script>

        {# ----- SCRIPT Delete Pop-up ----- #}

        <script>
            $( ".del_btn" ).on( "click", function() {
                $(".delete-window").show();
            });

            $( ".cancel" ).on( "click", function() {
                $(".delete-window").hide();
            });
        </script>
    {% endblock %}

{% endblock %}