{% extends 'layout/base-admin.html.twig' %}

{% block body %} 

        {% if not app.user %}

            <p>Vous n'avez pas accès à cette page</p>
            <a href="{{ path('home') }}" class="btn btn-light">Retour</a>

        {% elseif app.user and app.user.role == "ROLE_ADMIN" %}

            <div class="mt-5 list2">
                <h1>Utilisateurs en ligne</h1>
                <br>      
                <table class="table table-hover users">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col" style="width:300px;">Description</th>
                            <th scope="col">Inscrit le</th>
                            <th scope="col">Rôle</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users  %}
                            {% if user.online == "true" %}
                                <tr class="table-active">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.description }}</td>
                                    <td>{{ user.createdAt | date ('d/m/Y à H:i') }}</td>
                                    {% if user.role == "ROLE_ADMIN" %}
                                        <td><span class="badge badge-light">admin</span></td>
                                    {% else %}
                                        <td><span class="badge badge-light">user</span></td>
                                    {% endif %}
                                    <td><span class="text-success"> &nbsp; &#10687; </span></td>
                                </tr>
                            {% else %}
                                <tr></tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table> 
            </div>

            <a href="{{ path('security_admin') }}" class="btn btn-light btn-sm ml-20">&#8617; Retour au tableau de bord</a>

        {% else %}

            <p>Vous n'avez pas accès à cette page</p>
            <a href="{{ path('home') }}" class="btn btn-light">&#8617; Retour</a>
                
        {% endif %}

        {# ----- Boutons Delete gérés dans le script action.js ----- #}
        
        <script src="{{ asset('assets/js/action.js') }}"></script>

{% endblock %}