<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>&#9886; ALT &#9887;</title>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap-4.4.1.min.css') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/less/styles.css') }}" />
        <script src="{{ asset('assets/js/jquery/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery/jquery-ui-1.12.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/less/less-3.9.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/action.js') }}"></script>
        <script src="{{ asset('assets/js/date.js') }}"></script>
        <script src="{{ asset('assets/js/clock.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-admin">

        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{{ path('security_admin') }}"><b>&#9886; ALT RECORDS<span class="lightgrey">::ADMIN</span> &#9887;</b></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if app.user and app.user.role == "ROLE_ADMIN" %}
                        <li class="nav-item">
                            <a href="{{ path('home') }}" class="nav-link">&#8617; Retour au site</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('security_admin') }}" class="nav-link">&#9826; Tableau de bord</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('logging_out') }}" class="nav-link">&#9826; Déconnexion</a>
                        </li>
                        <li class="nav-item">
                            <small class="align-right-0 absolute mg-8 date">
                                <span class="time-data">
                                    Bonjour, <b>{{ app.user.username }}</b>. &nbsp; | &nbsp; 
                                    <span id="date"></span><span id="horloge"></span>
                                <span>
                            </small>
                        </li>
                    {% else %}
                        <li></li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {# Date gérée dans le script clock.js #}

        {% block javascripts %}
            <script>setTimeout(date,100);</script>
            <script>setTimeout(horloge,1000);</script>
        {% endblock %}

    </body>
    
</html>
