<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>&#9886; ALT &#9887;</title>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap-4.4.1.min.css') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/less/styles.css') }}" />
        <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ui-1.12.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/less-3.9.0.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-admin">

        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}"><b>&#9886; ALT RECORDS &#9887;</b></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">

                    {% if app.user and app.user.role == "ROLE_ADMIN" %}

                        <li class="nav-item">
                            <a href="{{ path('home') }}" class="nav-link">&#8617; Retour au site</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('security_admin') }}" class="nav-link">&#9826; Tableau de bord</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('security_logout') }}" class="nav-link">&#9826; Déconnexion</a>
                        </li>
                        
                        <form class="form-inline my-2 my-lg-0 align-right absolute" role="search" method="post" action="">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>

                    {% else %}

                        <li></li>

                    {% endif %}
                    
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
    
</html>
