{% extends 'layout/base-admin.html.twig' %}

{% block body %}

    <section class="mt-8 list2">
        <h1>Ajouter un tag</h1>
        <br>

        {{ form_start(form) }} 
            {{ form_row(form.name, {'attr': {'placeholder': "Votre tag"}}) }}
            <br>
            <b>Sélectionnez un élément du catalogue :</b>
            {{ form_row(form.article) }}

            <button type="submit" class="btn btn-primary mg-20">Taguer cet élément</button> &nbsp; 
            <a href="{{ path('security_admin') }}" class="btn btn-light mg-20">Annuler</a>
        {{ form_end(form) }} 

    </section>

{% endblock %}